.App{
 
}

.foto-portada {
  background-image: url("/public/cpf401.jpg");
  width: 100vw;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.barra {
  background: linear-gradient(to bottom, black 0%,
      rgba(0, 0, 0, 0.738) 19%,
      rgba(0, 0, 0, 0.541) 34%,
      rgba(0, 0, 0, 0.382) 47%,
      rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%,
      rgba(0, 0, 0, 0.042) 86.1%,
      rgba(0, 0, 0, 0.021) 91%,
      rgba(0, 0, 0, 0.008) 95.2%,
      rgba(0, 0, 0, 0.002) 98.2%, transparent 100%) !important;
  z-index: 65405;
}

.texto-portada-vision {
  
  margin-top: 2rem;
  text-align: center;
  text-justify: distribute;

}
.texto-portada-vision h2{
font-weight: 700;

}


.texto-portada-vision p {
  text-align: justify;
}

.navbar-light .navbar-toggler {
  border-color: var(--bs-warning) !important;
  color: var(--bs-warning) !important;
}

.card-title.familias {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color:  #b1a24e;
  margin-bottom: .5rem;
}

.separador {}

.cursos {

  text-align: center;
  padding: .2rem;
  border-bottom: 1px solid black;
}

.cursos h6{
  font-size: 12px;
}

.content-cursos {
 
  height: fit-content;
}


.card-body.familias{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(82,82,81,0.05);
  min-height: 550px;
  max-height: 700px;
 transition: .3s;
 background-color: rgb(241, 226, 205);
 
}

.card-body.familias:hover{
  max-height: fit-content;
  background-color: rgb(82,82,81,0.15);
 
}
.card.familias{
  position: relative;
  z-index: 10;
transition: .9s;
}
.card.familias:hover{
  z-index: 20;
  transform: scale(1.2,1.1);
}

.card-img-top.familias{
width:  80% !important;
}

.masinformacion{
  position: absolute;
  bottom: 10px;
}

.foto-novedades{
  height: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer{
  height: 250px;
  background-color: #b1a24e;
}
.footer__col{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__col__1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.masinformacion_div{
  min-height: 400px;
}
@media screen and (max-width :992px){
  .foto-novedades{
    height: 400px;
   
  }

  .footer{
    height:fit-content;
    background-color: #b1a24e;
  }
}
.btn.btn-outline-success {
  color: #7e743e;
  border-color: #7e743e;
}
#root{
  background-color: #fcfae8;
}
.btn.btn-outline-light {
  color: #7e743e;
  border-color: #7e743e;
  background-color: #fcfae8;
}